t-input-inner,
    .bcc-option.is-disabled,
    .bcc-select-input-wrap i,
    .bcc-search-input,
    .bcc-option,
    .cc-zimu-wrp .zimu-header .zimu-header-title,
    .head .dropdown-btn .text,
    .head .dropdown-btn .icon-arrowdown,
    .head .dropdown-menu .article-list li,
    .head .dropdown-menu .search .bili-input,
    .head .dropdown-menu .search .fontvt,
    .dc-top-link_wrap .tabs .tabs__header,
    .dc-section-item1_title_custom .sectionTitle,
    .dc-radio-button,
    .dc-section1-title,
    .pie-empty-wrapper,
    .rank-active-target-item .title,
    .rank-fans-medal-item .title,
    .rank-vedio-target-item .title,
    .rank-vedio-view-item .title,
    h2.title,
    .medal .medal-form .section .title-tip,
    .medal-list .title,
    .assist-wrap .assist-list header h1 .helper .icon,
    .medal .medal-form .section .tip-icon,
    .ui-input,
    .fontvt,
    .assist-wrap .assist-log header .tools .ui-calendar input[type=text],
    span.flatpickr-weekday,
    .flatpickr-current-month .flatpickr-monthDropdown-months,
    .flatpickr-current-month input.cur-year,
    .ui-calendar .flatpickr-day,
    .ui-calendar .flatpickr-month,
    .ui-btn.grey-radius,
    .comment_wrap .commet_header .title_wrap,
    .bcc-input-inner,
    .comment_wrap .operate_wrap .operate_left .bcc-checkbox,
    .comment_wrap .bcc-button.is-disabled,
    .button_wrap,
    .danmu-wrp.index-v1 .section .title,
    .danmu-wrp.index-v1 .section .content,
    .nav-upload-container .nav-upload-item>p,
    .tips-item_wrap .tips-item_left .content,
    .bill-wrap .header .title,
    .comment-item .right-block .reply-content,
    .comment-item .right-block .replier-time,
    .bili-btn i,
    .more-btn i,
    .select-box .select-item .text,
    .select-box .option-footer,
    .select-box .select-item i,
    .bcc-icon-shanchugaojian,
    .bcc-pagination-elevator input,
    .comment-list-item .ci-content,
    .comment_wrap .ellipsis .ac-link,
    .comment_wrap .bcc-button--default,
    .file-list-v2-container .file-title h1,
    .normal-v2-container .normal-title-wrp>h1,
    .file-list-v2-wrp .file-list-v2-item .file-list-v2-item-wrp .item-status-wrp .item-title,
    .section-title-v2-container .section-title-v2-content-main,
    .normal-v2-container .normal-title-wrp>.template-op>p,
    .check-radio-v2-container-disabled .check-radio-v2-name,
    .input-box-v2-1-container,
    .input-box-v2-1-container .input-box-v2-1-instance .input-box-v2-1-val,
    .select-box-v2-container .select-box-v2-controller .select-item-cont-inserted,
    .select-box-v2-container .select-box-v2-controller i,
    .more-selector-v2-container .more-selector-v2-title-wrp>h1,
    .more-selector-v2-container .more-selector-v2-title-wrp .more-selector-v2-drop,
    .fans-dynamic-v2-container .fans-dynamic-v2-title-wrp>h1,
    .check-box-v2-container .check-box-v2-content,
    .water-mark-set-v2-container .water-mark-set-v2-copy-switch-wrp>span,
    .warning-info-v2-container p.warning-info-v2-content,
    .select-box-v2-container .select-box-v2-controller,
    .drop-list-v2-container .drop-list-v2-item .drop-list-v2-item-cont p.item-cont-main,
    .electron-set-v2-container .electron-set-v2-copy-switch-wrp .electron-set-v2-hint,
    .d-time-v2-container .d-time-v2-switch-wrp p.d-time-v2-last,
    .d-time-v2-container .d-time-v2-switch-wrp p.d-time-v2-pre,
    .upload-v2-step1-container #homeDrop .icon-android_uploadx,
    .footer-content .social-item,
    .upload-v2-step1-container #homeDrop .upload-hint,
    .upload-v2-step1-container #homeDrop .video-jam .video-jam-pretext,
    .video-editor-ol-wrp .video-editor-ol-content p.title,
    .qa-area-ol-wrp .qa-area-ol-content p.main-title,
    .qa-area-ol-wrp .qa-area-ol-content p.sub-title,
    .video-editor-ol-wrp .video-editor-ol-content p.sub_title,
    .drag-drop-music,
    .load-marks,
    .material-upload,
    .danmu-wrp.index-v1 .section .bili-input,
    .danmu-wrp.index-v1 .section .title-tip {
        color: var(--color-86)!important
    }
    .notice_wrap .notice_body .hot-item .item-right,
    .data-card .tab.header .link,
    .list-item .view,
    .compila-not-find .compila-not-find-tips,
    .contri-not-find .contri-not-find-tips,
    .sticker-manage-info,
    .bcc-state .bcc-state__tip,
    .text-split_wrap .split-item,
    #dc-section_summary .pie-empty,
    .pie-empty.none,
    .normal-empty,
    .dc-section-item1_title_name small,
    .pie-empty,
    .rank-active-target-item .empty-data,
    .rank-fans-medal-item .empty-data,
    .rank-vedio-target-item .empty-data,
    .rank-vedio-view-item .empty-data,
    .bcc-icon-ic_help,
    .medal header p,
    .medal .medal-form .section .mini,
    .medal .medal-form .page-tip,
    .empty-wrp .text,
    .danmu-container .empty-danmu,
    .article-card.v2 .meta-status .pubdate,
    .cc-article-wrp .article-card .meta-footer i,
    .cc-article-wrp .article-card .meta-footer .view-stat,
    .bcc-pagination-extra,
    .comment-list-item .ci-title,
    .comment-list-item .ci-action .date,
    .comment-list-item .ci-action .delete a,
    .comment-list-item .ci-action .ignore a,
    .comment-list-item .ci-action .like a,
    .comment-list-item .ci-action .reply a,
    .comment-list-item .ci-action .report a,
    .comment-list-item .ci-action .select a,
    .comment_wrap .tips,
    .comment-list-item .article-wrap .name,
    .section-title-v2-container .section-title-v2-content-sub,
    .cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-title,
    .input-box-v2-1-container .input-box-v2-1-max-tip,
    .content-tag-v2-container .content-tag-v2-edit-mod-wrp,
    .content-tag-v2-container .content-tag-v2-other-tag-error-wrp,
    .text-area-box-v2-container .placeholder-style,
    .text-area-box-v2-container .text-area-box-v2-val,
    .text-area-box-v2-container .text-area-box-v2-max-tip,
    .more-selector-v2-container .more-selector-v2-title-wrp .more-selector-v2-drop-tip,
    .section-title-v2-container .section-title-v2-warning,
    .check-box-v2-container .check-box-v2-pre-not-selected,
    .editor-wrap .article-title .count,
    .editor-box p.counter,
    iframe#ueditor_0 p.origin-placeholder,
    .draft-wrap .draft-list li.draft-card .meta-summary,
    .draft-wrap .draft-list li.draft-card .meta-status .pubdate,
    .draft-wrap .head-title span.count,
    .tool-box-v2-container .tool-title,
    .music-tips .music-tip {
        color: var(--color-66)!important
    }
    .cc-nav-wrp .nav-upload-btn>a,
    .chief-recommend-module .carousel-box .carousel-module .panel .title a,
    .compila-condition .compila-right .compila-add,
    .compila-not-find .compila-not-find-ime,
    .contri-not-find .contri-not-find-ime,
    .cc-btn.is-main,
    .dc-radio-button.is-active,
    .flatpickr-day.endRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.endRange.nextMonthDay,
    .flatpickr-day.endRange.prevMonthDay,
    .flatpickr-day.endRange:focus,
    .flatpickr-day.endRange:hover,
    .flatpickr-day.selected,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.selected.nextMonthDay,
    .flatpickr-day.selected.prevMonthDay,
    .flatpickr-day.selected:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.startRange.nextMonthDay,
    .flatpickr-day.startRange.prevMonthDay,
    .flatpickr-day.startRange:focus,
    .flatpickr-day.startRange:hover,
    .bcc-pagination-item.selected a,
    .qa-area-ol-wrp a.qa-area-ol-content-btn,
    .video-editor-ol-wrp .video-editor-ol-btn {
        color: var(--color-ff)!important
    }
    .slider-bar .bar-item .bcc-nav-slider-item__wrap .router-item.active,
    .slider-bar .bar-item .bcc-nav-slider-item__wrap .router-item.active i,
    .slider-bar .bar-item .bcc-nav-slider-item__wrap .router_wrap.active,
    .slider-bar .bar-item .bcc-nav-slider-item__wrap .router_wrap.active i,
    .slider-bar .bar-item .bcc-nav-slider-sub-menu .router-item.active,
    .slider-bar .bar-item .bcc-nav-slider-sub-menu .router-item.active i,
    .slider-bar .bar-item .bcc-nav-slider-sub-menu .router_wrap.active,
    .slider-bar .bar-item .bcc-nav-slider-sub-menu .router_wrap.active i,
    .data-card .tab .data-tab.current,
    .tabs .tabs__header .tabs__header-item.is-active,
    .new-link-top-wrap .link-top-item.active,
    .contri-condition .contri-select.active,
    .bcc-select-list-wrap .bcc-select i,
    .bcc-option.selected,
    .text-split_wrap .operate-txt.active,
    .flatpickr-day.today,
    .dc-radio-button:hover,
    .nav-upload-container .nav-upload-item:hover>p,
    .select-box .select-item:hover,
    .select-box .select-item:hover .text,
    .select-box .option-footer:hover .option-text,
    .comment-list-item .ci-action .delete a:hover,
    .comment-list-item .ci-action .ignore a:hover,
    .comment-list-item .ci-action .like a:hover,
    .comment-list-item .ci-action .reply a:hover,
    .comment-list-item .ci-action .report a:hover,
    .comment-list-item .ci-action .select a:hover,
    .comment_wrap .ellipsis .ac-link.active-item,
    .comment_wrap .ellipsis .ac-link:hover,
    .comment-list-item .check-box.checked,
    .comment_wrap .bcc-button--default:not(.is-disabled):hover,
    .feedback-tabs .bili-tab-v1.is-active,
    .drop-list-v2-container .drop-list-v2-item:hover p.item-cont-main,
    .water-mark-set-v2-container .water-mark-set-v2-copy-switch-wrp>a,
    .electron-set-v2-container .electron-set-v2-copy-switch-wrp .electron-set-v2-hint>a,
    .content-tag-v2-container .content-tag-v2-edit-mod-wrp p>a,
    .bili-tab.current,
    .music-clue .font-blue,
    .music-clue .iconfont,
    .upload-v2-step1-container .upload-agreement .reg-2>a {
        color: var(--bili-blue)!important
    }
    .file-list-v2-wrp .file-list-v2-item .file-list-v2-item-wrp .item-upload-info {
        color: var(--bili-lightgreen)!important;
    }
    .warning-info-v2-container p.warning-info-v2-content.warning-info-v2-content-important,
    .upload-v2-step1-container .upload-agreement .reg-2,
    .music-clue {
        color: var(--bili-pink)!important;
    }
    /* -- 边框 -- */
    .cc-nav-wrp,
    .new-link-top-wrap .new-link-top-container,
    .academy-wrap .content .tabs .tabs__header,
    .contri-condition .contri-search,
    .bcc-select-input-wrap,
    .bcc-search-input,
    .head .dropdown-btn,
    .dropdown .dropdown-menu,
    .head .dropdown-menu .article-list,
    .head .dropdown-menu .search .bili-input,
    .dc-top-link_wrap .tabs .tabs__header,
    .dc-radio-button,
    #dc-section_essential .item-in-row,
    .watch_wrap,
    .medal header,
    .medal-list .part .content,
    .danmu-container,
    .ui-input,
    .ui-calendar .main-wrap .shortmenus,
    .ui-calendar .flatpickr-day.inRange,
    .ui-calendar .flatpickr-day.nextMonthDay.inRange,
    .ui-calendar .flatpickr-day.nextMonthDay.today.inRange,
    .ui-calendar .flatpickr-day.nextMonthDay:focus,
    .ui-calendar .flatpickr-day.nextMonthDay:hover,
    .ui-calendar .flatpickr-day.prevMonthDay.inRange,
    .ui-calendar .flatpickr-day.prevMonthDay.today.inRange,
    .ui-calendar .flatpickr-day.prevMonthDay:focus,
    .ui-calendar .flatpickr-day.prevMonthDay:hover,
    .ui-calendar .flatpickr-day.today.inRange,
    .ui-calendar .flatpickr-day:focus,
    .ui-calendar .flatpickr-day:hover,
    .bcc-input-inner,
    .comment_wrap .bcc-button.is-disabled,
    .button_wrap,
    .search-list,
    .dm-transform_wrapper .select_wrap,
    .danmu-wrp.index-v1 .bili-radio+span:before,
    .comment-item .right-block .origin,
    .article-card,
    .article-card.v2 .meta-view .bili-btn,
    .more-btn,
    .select-box .row,
    .bcc-pagination-elevator input,
    .comment-list-item,
    .comment_wrap .article-list,
    #app .comment_wrap .bcc-button--default,
    .dividing-line,
    #app .normal-v2-container .normal-title-wrp>.template-op-disabled,
    .normal-v2-container .normal-title-wrp>.template-op,
    .cover-v2-container .cover-v2-detail-wrp .cover-v2-selector,
    .cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-deg,
    .cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-items .selector-item,
    .check-radio-v2-container-disabled .check-radio-v2-box,
    .input-box-v2-1-container,
    #app .select-box-v2-container .select-box-v2-controller-disabled,
    .content-tag-v2-container .content-tag-v2-edit-mod-wrp,
    .content-tag-v2-container .content-tag-v2-other-tag-error-wrp,
    .text-area-box-v2-container,
    .warning-info-v2-container,
    .select-box-v2-container .select-box-v2-controller,
    .drop-list-v2-container,
    .footer-content,
    .footer-content .menu-item,
    .original-editor-wrap,
    .load-marks,
    .danmu-wrp.index-v1 .section .bili-input {
        border-color: var(--color-42)!important;
    }
    .header .right-block .avatar img {
        border-color: var(--color-2c)!important;
    }
    .bcc-checkbox-checkbox,
    .comment-list-item .check-box,
    #loading i.waiting {
        border-color: var(--color-86)!important;
    }
    .dc-radio-button.is-active,
    .ui-calendar .flatpickr-day.endRange,
    .ui-calendar .flatpickr-day.endRange.inRange,
    .ui-calendar .flatpickr-day.endRange.nextMonthDay,
    .ui-calendar .flatpickr-day.endRange.prevMonthDay,
    .ui-calendar .flatpickr-day.endRange:focus,
    .ui-calendar .flatpickr-day.endRange:hover,
    .ui-calendar .flatpickr-day.selected,
    .ui-calendar .flatpickr-day.selected.inRange,
    .ui-calendar .flatpickr-day.selected.nextMonthDay,
    .ui-calendar .flatpickr-day.selected.prevMonthDay,
    .ui-calendar .flatpickr-day.selected:focus,
    .ui-calendar .flatpickr-day.selected:hover,
    .ui-calendar .flatpickr-day.startRange,
    .ui-calendar .flatpickr-day.startRange.inRange,
    .ui-calendar .flatpickr-day.startRange.nextMonthDay,
    .ui-calendar .flatpickr-day.startRange.prevMonthDay,
    .ui-calendar .flatpickr-day.startRange:focus,
    .ui-calendar .flatpickr-day.startRange:hover,
    .flatpickr-day.today,
    .dc-radio-button:hover,
    .bcc-checkbox-checked .bcc-checkbox-checkbox,
    .comment-list-item .check-box.checked,
    .comment_wrap .bcc-button--default:not(.is-disabled):hover,
    .input-box-v2-1-container.input-box-v2-1-container-active,
    .input-box-v2-1-container:hover {
        border-color: var(--bili-blue)!important
    }
    .nav-upload-container,
    .draft-wrap .draft-list li.draft-card {
        border: var(--bodr-42)!important;
    }
    .cover-v2-container .cover-v2-detail-wrp .cover-v2-selector .cover-v2-selector-items .selector-item {
        border-width: 1px!important
    }
    /* -- 阴影 -- */
    .nav-upload-container,
    .draft-wrap .draft-list li.draft-card {
        box-shadow: none!important;
    }
    .bcc-select-list-wrap {
        box-shadow: 0 2px 12px 0 var(--color-21)!important;
    }
    .text-article-wrp .info-wrp .cc-btn {
        box-shadow: 4px 4px 8px var(--color-21)!important;
    }
    .danmu-container {
        box-shadow: 1px 1px 2px var(--color-42)!important;
    }
    /* -- 其他 -- */
    .upload-v2-step1-container #homeDrop path {
        stroke: var(--color-42)!important;
    }
    .dc-section1-body canvas {
        filter: invert(50%)!important;
    }
    .icon-common,
    .icon-download,
    .icon-tv {
        filter: invert(50%) sepia(3%) saturate(5%) hue-rotate(322deg) brightness(105%) contrast(87%)!important;
    }
    .normal-v2-container .normal-title-wrp>.template-op>img {
        filter: var(--filter-98a2aa-86)!important;
    }
    .assist-wrap .icon-cal {
        filter: invert(48%) sepia(17%) saturate(0%) hue-rotate(134deg) brightness(101%) contrast(82%)!important;
    }
    .flatpickr-months .flatpickr-next-month svg,
    .flatpickr-months .flatpickr-prev-month svg {
        filter: invert(53%) sepia(3%) saturate(29%) hue-rotate(8deg) brightness(100%) contrast(87%)!important;
    }
}

@-moz-document domain("bilibili.com") {
    /* ===适配 Bilibili Evolved 插件=== */
    /* --> 仅适配操作面板、部分常用设置下插件添加的元素及不会与本样式冲突的元素 */
    /* --> 因为此插件修改样式是通过插入新的页内样式直接全局修改，并没有在被修改样式的元素上添加代表此插件的 id 或 class，因此会与本样式冲突，二者无法兼得。 */
    /* --> 若打开插件中会改变页面样式或布局的设置，会出现样式错乱的现象。 */
    /* --> 此插件自带夜间模式，若需要使用以上提到会与本样式冲突的功能，可以选择使用此插件自带的夜间模式。 */
    /* -- 背景 -- */
    [class*="gui-settings"] *:not(i) {
        background-color: var(--color-21)!important;
    }
    asi {
        background-color: var(--color-2c)!important;
    }
    .gui-settings-checkbox-container .gui-settings-checkbox::after,
    .gui-settings-dropdown ul li:hover,
    .panel-area .bb-comment .fold-comment,
    .gui-settings-header .operations .operations-menu .operation:hover {
        background-color: var(--color-27)!important;
    }
    [class*="gui-settings"] .custom-color-preview {
        background: var(--theme-color)!important;
    }
    .gui-settings-checkbox-container .gui-settings-checkbox {
        background: var(--bili-red-50)!important;
    }
    .gui-settings-checkbox-container input:checked~.gui-settings-checkbox {
        background: var(--bili-lightblue-50)!important
    }
    /* -- 字体 -- */
    [class*="gui-settings"] *,
    .panel-area .bb-comment .fold-comment {
        color: var(--color-86)!important;
    }
    .bb-comment .comment-list .list-item .info .hate span,
    .bb-comment .comment-list .list-item .info .like span {
        color: var(--color-66)!important;
    }
    p span[style*="background:yellow"] {
        color: var(--color-21)!important;
    }
    .gui-settings-dropdown ul li:hover,
    .panel-area .bb-comment .fold-comment:hover,
    .gui-settings-header .operations .operations-menu .operation:hover {
        color: var(--bili-blue)!important;
    }
    /* -- 边框 -- */
    [class*="gui-settings"] * {
        border-color: var(--color-42)!important;
    }
    /* -- 图标 -- */
    [class*="gui-"] [class*="icon-"]::after {
        filter: var(--filter-00-86)!important;
    }
}
